@import "../../../vars";

.advantages {
  padding-top: 101px;
  padding-bottom: 108px;

  &__slogan {
    display: block;
    margin-bottom: 62px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 115%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 44px;
    padding: 0;
    list-style: none;
  }

  &__link {
    cursor: pointer;
  }
}

.list {
  &__item {
    width: 540px;
    min-height: 197px;
    margin-bottom: 20px;
  }
}
