@import "../../../vars";

.advantages {
  padding-top: 101px;
  padding-bottom: 108px;

  &__slogan {
    display: block;
    margin-bottom: 62px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 115%;
  }

  &__lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__list {
    width: 540px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    cursor: pointer;
  }
}

.list {
  &__item {
    min-height: 197px;
    padding: 18px 20px 20px 20px;
    margin-bottom: 20px;
  }

  &__item--good {
    background-color: $chrome-white;

    &:first-child {
      background-image: url("../../../../src/assets/img/icon-eat.svg");
      background-repeat: no-repeat;
      background-position: 20px 22px;
    }

    &:last-child {
      background-image: url("../../../../src/assets/img/icon-sprout.svg");
      background-repeat: no-repeat;
      background-position: 20px 20px;
    }
  }

  &__item--bad {
    background-color: $linen;

    &:first-child {
      background-image: url("../../../../src/assets/img/icon-garbage.svg");
      background-repeat: no-repeat;
      background-position: 20px 22px;
    }

    &:last-child {
      background-image: url("../../../../src/assets/img/icon-no-meat.svg");
      background-repeat: no-repeat;
      background-position: 20px 22px;
    }
  }

  &__header {
    margin-left: 76px;

    &--margin-left {
      margin-left: 72px;
    }
  }

  &__category {
    display: inline-block;
    margin-bottom: 4px;
    padding: 2px 10px;
    color: $white;
    font-size: 14px;
    line-height: 150%;
  }

  &__item--good &__category {
    background-color: $chelsea-cucumber;
  }

  &__item--bad &__category {
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $flamingo;
  }

  &__title,
  &__description {
    margin: 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }

  &__item--bad &__title {
    margin-bottom: 16px;
  }
}

