@import "../../../../vars";

.card {
  &__tabs {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.tabs {
  &__panel {
    margin-bottom: 16px;
  }

  &__switch {
    padding: 10px 10px 8px 12px;
    margin-right: 8px;
    font-size: 14px;
    border: 1px solid rgba(0 0 0 / 0.10);

    &:nth-child(2) {
      padding-right: 11px;
    }

    &:last-child {
      padding-right: 11px;
      margin-right: 0;
    }

    &--active {
      background-color: $chelsea-cucumber;
      color: $white;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 150%;

    p {
      margin: 0;
    }

    p:first-child {
      margin-bottom: 14px;
    }

    p:last-child {
      width: fit-content;
      padding: 4px 8px;
      background-color: $pattens-blue;
      font-size: 14px;
      font-weight: 700;
    }

    dl {
      margin-top: 24px;
    }

    div {
      margin-bottom: 8px;
    }

    dt,
    dd {
      display: inline;
    }

    dt {
      margin-right: 4px;
      color: $black;
      font-weight: 700;
    }

    dd {
      margin: 0;
    }
  }
}
