@import "../../../vars";

.about {
  background-color: $pattens-blue;

  &__wrapper {
    padding-top: 184px;
    padding-bottom: 183px;
    background-image: url("Images/back.png");
    background-repeat: no-repeat;
    background-position: 97.1% 37px;
  }

  &__info {
    width: 538px;
  }

  &__info h1 {
    margin-bottom: 24px;
  }

  &__title,
  &__description {
    margin: 0;
  }
}
