@import "../../../vars";

.about {
  background-color: $pattens-blue;

  &__wrapper {
    padding-top: 184px;
    padding-bottom: 183px;
    background-image: url("../../../../src/assets/img/back.png");
    background-repeat: no-repeat;
    background-position: 97.1% 37px;
  }

  &__info {
    width: 538px;
  }

  &__title,
  &__description {
    margin: 0;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 44px;
    font-weight: 700;
    line-height: 115%;
  }
}
