$white: #ffffff;
$black: #000000;
$mine-shaft: #333333;
$wild-sand: #f6f6f6;
$pattens-blue: #d8ecfe;
$chrome-white: #e1edce;
$chelsea-cucumber: #88aa4d;
$linen: #f8ddd7;
$flamingo: #f75531;
$sea-buckthorn: #fc9b27;
$crusta: #fc7427;
